* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  height: 80vh;
  padding-top: 50px;
  background: rgb(226, 225, 225);
}

header {
  height: 10vh;
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 10vw;
  text-align: center;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-img {
  max-height: 30vh;
}

.booklist {
  width: 80vw;
}

.my-shelf {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear {
  padding: 5px;
  margin: 10px;

}

.search {
  position: relative; 
  left: 30vw;
}
