* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  height: 80vh;
}

header {
  height: 10vh;
  border: black solid 2px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 10vw;
  text-align: center;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-img {
  max-height: 30vh;
}

.booklist {
  width: 80vw;
}

.my-shelf {
  width: 20vw;
}
