* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

body {
  display: flex;
  height: 75vh;
  /* padding-top: 50px; */
  background: rgb(226, 225, 225);
}

header {
  padding-top:20px;
  height: 10vh;
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 10vw;
  text-align: center;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-img {
  max-height: 30vh;
}

.booklist {
  width: 75vw;
  margin-top: 50px;
}

.my-shelf {
  width: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}

.clear {
  padding: 5px;
  margin: 10px;
}

.search {
  position: relative; 
  left: 40vw;
  top: 40px;
  width: 30vw;
  padding:5px
}

.main-title {
  text-align: center;
  color: rgb(33, 165, 125);
  font-family:Arial, Helvetica, sans-serif;
}

.button-one {
  margin: 5px;
  padding: 3px;
}

.button-two {
  padding: 3px;
}

.search-input {
  padding: 3px;
}

.header-full {
  background: white;
  height: 10vh;
}

.separation-bar {
  width: 1px;
  height: 70vh;
  border: rgb(128, 128, 128) solid 1px;
  position: relative;
  top: 50px;
}
